# IntelliJ files
**/.idea/
**/.idea/*
**/*.iml

# Eclipse files
**/.project
**/.classpath
**/.settings/
**/.apt_generated/
**/.flattened-pom.xml
**/.factorypath
**/MANIFEST.MF

# NetbeanFiles
**/nbproject/*
**/obj/*

# project files
**/target/

# caching files
**/*.db
/bin/
**/*.so

# KDevelop
./kdev4
compiler.kdev4


